.dp-resumen {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  background: #fff;
  color: #111827;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    flex: 1;
    overflow-y: auto; // scroll solo en contenido
    padding-bottom: 16px;
  }

  .blue { color: #1e4ed8; } // azul estilo captura

  .dp-resume-header {
    background-color: #f6f7ff;
    margin-top: 1px;
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;

      .top {
        display: flex;
        gap: 16px;
        padding: 14px 16px 0;

        .col {
            flex: 1;

            .label {
                font-size: 14px;
                color: #031F7D;
                margin-bottom: 12px;
            }

            .value {
                font-weight: 800;
                font-size: 23px;
                line-height: 1.1;
                color: #031F7D;
                margin-bottom: 5px;
            }
        }
    }

    .progress {
        --p: .2; // 0..1
        height: 6px;
        border-radius: 999px;
        margin: 10px 16px 8px;
        background: #a3a9cf;
        overflow: hidden;

        .bar {
            width: calc(var(--p) * 100%);
            height: 100%;
            background: #011687;
            border-radius: 999px;
        }
    }

    .cash-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 16px 12px;

        .left {
            display: flex;
            align-items: center;
            gap: 8px;

            span {
                font-size: 16px;
                color: #05207C;
            }

            .circle {
                width: 21px; 
                height: 21px;
                border-radius: 50%;
                display: grid;
                place-items: center;
                background: #031F7D;
                color: #ffffff;
                font-weight: 600;
                font-size: 15px;
            }
        }

        .right {
            font-weight: 700;
            color: #05207C;
        }
    }
  }


  .section {
    width: 90%;
    margin: 20px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;

    h4 {
      margin: 8px 0 10px;
      font-size: 20px;
      font-weight: 800;
      color: #202020;
    }

    .kv {
      margin: 0;

      .item {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        gap: 12px;
        padding: 8px 0;
        margin-bottom: 3px;

        dt {
          font-size: 16px;
          color: #6B7280;
        }

        dd {
          margin: 0;
          font-size: 16px;
          font-weight: 700;
          color: #374151;

          &.strong { color: #1F2937; font-weight: 800; }
        }
      }
    }
  }

  .section-without-border {
    border: 0;
  }

  .footer {
    padding: 14px 16px;
    margin-bottom: 120px;

    .btn-close {
        width: 100%;
        background: #F1F1F1F1;
        color: #333333;

        &:active {
            transform: translateY(1px);
        }
    }
  }
}
