<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Home Page</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <nav class="app-header-nav">
    <ion-buttons slot="end">
      <ion-icon name="ellipse" class="chevron-back"></ion-icon>
    </ion-buttons>

    <p class="app-header-nav-title">HOME</p>

    <ion-buttons slot="end" class="app-header-nav-icon-right">
      <ion-button>
        <ion-icon name="ellipse" class="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </nav>

  <div id="container">
    <strong>DPortenis</strong>
    <p>Pantalla home de DP</p>
    <br>
    <button class="dp-btn" (click)="goTo('/dpcard');">Iniciar PCARD</button>
  </div>
</ion-content>
